body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #555;
    padding: 0.5em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Add this new class for the left-side menu items */
.left-menu {
    text-align: left;
    padding-left: 20px;
}

section {
    padding: 20px;
}

#home {
    background-color: #f5f5f5;
}

#services {
    background-color: #e0e0e0;
}

#projects {
    background-color: #f5f5f5;
}

.project-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Centering the button in the footer */
footer button {
    display: block;
    margin: 0 auto;
}

/* Styling the button */
button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}
.data-table {
    width: 100%;
}
.data-table th {
    padding:10px
}

.data-table td {
    padding:5px
}

.data-table tbody tr:nth-child(even) {
    background-color: #e0e0e0;
} 